include ../header/__icon_vk
mixin footer()
	footer
	.container-fluid.p-5
		.row.justify-content-md-around.justify-content-center
			.col-lg-8.col-md-8.col-sm-12.text-sm-center.text-md-left.p-2.text-center Приют для кошек "Котофеи" СПБРООЗЖ "Второй шанс"
			.col-lg-4.col-sm-12.col-md-4.text-md-right.text-sm-center.p-2.text-center 8-962-706-40-24<br>8-921-347-77-66<br>8-911-924-84-74
		.row.justify-content-center.p-2
			.col-12.text-center
					+vk()
		.row.justify-content-center.p-2
			.col-12.text-center &copy;Санкт-Петербург 2019