//0EA6E8
mixin about()
	h1.content__payment-h.text-center О нас
	.container-fluid
		h3.pt-2.pb-2.content__payment--subtitle Кураторы
		.row.align-items-center
			.col-md-4.col-sm-12.pb-2.pl-2.pr-2.text-center <b>Екатерина Сергиенко</b><br>8-962-706-40-24
			.col-md-4.col-sm-12.pb-2.pl-2.pr-2.text-center <b>Юлия Качнова</b><br>8-921-347-77-66
			.col-md-4.col-sm-12.pb-2.pl-2.pr-2.text-center <b>Надежда Волкова</b><br>8-911-924-84-74
		h3.pt-2.pb-2.content__payment--subtitle История
		.row.pb-2
			.col-12.content__about--text
				p Мы - Санкт-Петербургская региональная общественная организация защиты животных "Второй шанс". Приют "Котофеи" полностью курируется нами.
				p Дата основания СПбРООЗЖ "Второй шанс" - 9.03.2009 года, и с этого времени у нас появились два филиала: в Санкт-Петербурге и Выборге. Максимальное количество кошек, одновременно проживающих в них, близится к тысяче.
				p Наша организация является полностью благотворительной и не получает помощи от муниципальной администрации или каких-либо других официальных источников. Это значит, что мы будем рады любой помощи, будь то финансовое вливание, покупка корма, лекарств и иных товаров для животных, а также бывают моменты, когда нам нужна помощь физическим трудом.

