.payment {}
.content__payment-header-style {
  color: #0EA6E8;
  font-weight: bold;
  font-size: 18px;
  padding-top: 20px;
}
.content__payment-text-style {
  font-size: 16px;
  color: black;
  font-weight: normal;
}

.content__payment-h {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: bold;
}

.linked_text {
  text-decoration: underline;
}