mixin payment()
	.container-fluid
		h1.content__payment-h.text-center.m-3 Реквизиты для помощи
		.row
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Банковские карты
				.content__payment-text-style  Карта <b>Сбербанка</b> 4817760118047103 привязана к телефону 8-962-706-40-24<br>Карта <b>Тинькофф</b> 5536913779096136<br>Карта Райффайзен 4476 2461 3497 8424
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Через ВКонтакте
				a(href='https://vk.com/app5727453_-19158506').content__payment-text-style.linked_text Универсальная ссылка для пожертвования через разные платёжные системы ВКонтакте
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Электронные кошельки
				.content__payment-text-style Яндекс Кошелёк 41001622237281<br>Киви Кошелёк 9627064024
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Pay Pal
				.content__payment-text-style katerina9582@mail.ru
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style WebMoney
				.content__payment-text-style R124922397760 <br>E254984989876
			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Перевод на телефон
				.content__payment-text-style Билайн 8-965-799-55-93<br>Билайн 8-962-706-40-24<br>МТС 8-911-156-30-82

			.col-lg-4.col-md-6.col-sm-12
				.content__payment-header-style Cбор на строительство приюта

				.content__payment-text-style 4476 2461 3497 8424 Райффайзен банк
			.col-lg-6.col-md-12
				.content__payment-header-style На номер счета
				.content__payment-text-style Получатель:<br> Санкт-Петербургская региональная общественная организация защиты животных "Второй шанс"<br>р/сч 40703810205000000038 <br>Филиал «СДМ–БАНК»(ПАО) в г. Санкт - Петербург <br>к/с 30101810000000000878 <br>БИК 044030878, ИНН 7801268901 <br>КПП 781401001, ОГРН 1087800006810
