include __cite.pug
include __payment.pug
include __about.pug
.col-12.content__about--cat-pic
.content.pl-md-5.pr-md-5.pl-sm-2.pr-sm-2
	.cite
		+cite('Сострадание к животным так тесно связано с добротой характера, что можно с уверенностью утверждать: кто жесток с животными, тот не может быть добрым человеком.', 'Артур Шопенгауэр')
	.about
		+about()
	.payment
		+payment()